[submodule "submodules/GreedyAIAcademy/Machine-Learning"]
	path = submodules/GreedyAIAcademy/Machine-Learning
	url = https://github.com/GreedyAIAcademy/Machine-Learning.git
[submodule "submodules/3b1b/manim"]
	path = submodules/3b1b/manim
	url = https://github.com/3b1b/manim.git
[submodule "submodules/3b1b/videos"]
	path = submodules/3b1b/videos
	url = https://github.com/3b1b/videos.git
