[submodule "submodules/GreedyAIAcademy/Machine-Learning"]
	path = submodules/GreedyAIAcademy/Machine-Learning
	url = git@github.com:GreedyAIAcademy/Machine-Learning.git
[submodule "submodules/3b1b/manim"]
	path = submodules/3b1b/manim
	url = git@github.com:3b1b/manim.git
[submodule "submodules/3b1b/videos"]
	path = submodules/3b1b/videos
	url = git@github.com:3b1b/videos.git
[submodule "submodules/100-Days-Of-ML-Code"]
	path = submodules/100-Days-Of-ML-Code
	url = git@github.com:Avik-Jain/100-Days-Of-ML-Code.git
[submodule "submodules/utils/free-programming-books"]
	path = submodules/utils/free-programming-books
	url = git@github.com:EbookFoundation/free-programming-books.git
[submodule "submodules/DeepLearning-500-questions"]
	path = submodules/DeepLearning-500-questions
	url = git@github.com:scutan90/DeepLearning-500-questions.git
[submodule "submodules/machine_learning_derivation"]
	path = submodules/machine_learning_derivation
	url = git@github.com:ws13685555932/machine_learning_derivation.git
